<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Image</td>
        <td>Author</td>
    </tr>

    {% if vocabularies is defined %}
        {% for row in vocabularies %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.image }}</td>
                <td>{{ row.author }}</td>

                {% if actions is defined %}
                    <td>
                        {% if actions == 'affAllVocab' %}
                            <a href="affAllVocab">
                                <input class="btn-black" type="button" value="Delete from group"/>
                            </a>
                        {% elseif actions == 'getByName' %}
                            <a href="getByName?name={{ selectedName }}">
                                <input class="btn-black" type="button" value="Delete from group"/>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    {% endif %}
</table>