<table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </thead>

    {% if vocabularies is defined %}
        {% for row in vocabularies %}
                <tr {% if vocabID is defined and vocabID == row.id %} class="table-info" {% endif %}>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>

                {% if actions is defined %}
                    <td>
                        {% if 'getContent' in actions %}
                            <a href="{{base}}/teacher/{{userID}}/getContent?vocabID={{row.id}}" class="btn btn-primary">Get content</a>
                        {% endif %}

                        {% if 'delById' in actions %}
                            <a id="delButton" href="{{base}}/teacher/{{userID}}/delById?vocabID={{ row.id }}" class="btn btn-danger">Remove</a>
                        {% endif %}

            {% endif %}
        {% endfor %}

                    </td>

            </tr>

    {% endif %}
</table>