@page "/config"

<h3>Config</h3>

@if (userOptions != null)
{
    <div>
        <div>Title: @userOptions.id</div>
        <div>Name: @userOptions.name</div>
        <div>Surname: @userOptions.Surname</div>
        <div>Nickname: @userOptions.Nickname</div>
        <div>ExtraTime: @userOptions.ExtraTime</div>
        <div>Group: @userOptions.Group</div>
        <div>Roles: @string.Join(", ", userOptions.Roles)</div>
    </div>
}