@page "/list"
@using Minecraft.Models

<!--<script src="_framework/blazor.server.js"></script>!-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
<link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />

<h3>List</h3>

<div>
    <NavLink class="btn btn-primary" href="Add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> Ajouter
    </NavLink>
</div>

<DataGrid TItem="User"
          Data="@users"
          ReadData="@OnReadData"
          TotalItems="@totalUser"
          PageSize="10"
          ShowPager
          Responsive>
    <DataGridColumn TItem="User" Field="@nameof(User.Id)" Caption="ID" />
    <DataGridColumn TItem="User" Field="@nameof(User.Email)" Caption="Email" />
    <DataGridColumn TItem="User" Field="@nameof(User.Name)" Caption="Name" />
    <DataGridColumn TItem="User" Field="@nameof(User.Surname)" Caption="Surname" />
    <DataGridColumn TItem="User" Field="@nameof(User.Nickname)" Caption="Nickname" />
    <DataGridColumn TItem="User" Field="@nameof(User.Image)" Caption="Image" />
    <DataGridColumn TItem="User" Field="@nameof(User.ExtraTime)" Caption="Extra Time" />
    <DataGridColumn TItem="User" Field="@nameof(User.Group)" Caption="Group" />
    <DataGridColumn TItem="User" Field="@nameof(User.Roles)" Caption="Roles">
        <DisplayTemplate>
            @(string.Join(", ", ((User)context).Roles))
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>