@page "/list"
@using adminBlazor.Models

<!--<script src="_framework/blazor.server.js"></script>!-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
<link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
<h3>List</h3>

<div>
    <NavLink class="btn btn-primary" href="Add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> Ajouter
    </NavLink>
</div>

<DataGrid TItem="User"
          Data="@_users"
          ReadData="@OnReadData"
          TotalItems="@totalUser"
          PageSize="10"
          ShowPager
          Responsive>
        <DataGridColumn TItem="User" Field="@nameof(User.id)" Caption="id" />
       <!-- <DataGridColumn TItem="User" Field="@nameof(User.password)" Caption="Password" /> -->
    <DataGridColumn TItem="User" Field="@nameof(User.name)" Caption="Name" />
        <DataGridColumn TItem="User" Field="@nameof(User.email)" Caption="Email" />
        <DataGridColumn TItem="User" Field="@nameof(User.surname)" Caption="Surname" />
        <DataGridColumn TItem="User" Field="@nameof(User.nickname)" Caption="Nickname" />
       <!-- <DataGridColumn TItem="User" Field="@nameof(User.image)" Caption="Image" /> -->
        <DataGridColumn TItem="User" Field="@nameof(User.extraTime)" Caption="Extra Time" />
        <DataGridColumn TItem="User" Field="@nameof(User.group)" Caption="Group" />
        <DataGridColumn TItem="User" Field="@nameof(User.roles)" Caption="Rôles">
        <DisplayTemplate>
            @(string.Join(", ", ((User)context).roles))
        </DisplayTemplate>
    </DataGridColumn>

     </DataGrid>


