
<div class="navbar">
    <a href="http://localhost/SAE_2A_Anglais/Project/php/">@Localizer["Home"]</a>
    <AuthorizeView Roles="admin">
    <a href="/list">@Localizer["Users"]</a>
    </AuthorizeView>
    <a href="/account">@Localizer["My account"]</a>
    <a href="/voc">@Localizer["Vocabulary Lists"]</a>
    <a href="/config">@Localizer["Config"]</a>
</div>


@code {
    private bool isNavMenuVisible = false;

    private string navMenuStyle => isNavMenuVisible ? "display: flex;" : "display: show;";

    private void ToggleNavMenu()
    {
        isNavMenuVisible = !isNavMenuVisible;
    }
}